:root {
    --main-bg-color: #F070A1;
    --mainOne-bg-color: #C34271;
    --mainTwo-bg-color: #16FFBD;
    --mainThree-bg-color: #439F76;
    --mainFour-bg-color: #000000;
    --mainFive-bg-color: #ffffff;
    --mainSix-bg-color: antiquewhite;
    --mainSeven-bg-color: rgba(0, 0, 0, 0.65);
}

.body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--main-bg-color);
    flex-direction: column;
}

.header {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    background-color: var(--mainTwo-bg-color);
    gap: 10px;
    color: var(--mainFour-bg-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 50px;
    margin-bottom: 50px;
}

.topTips {
    margin-top: 90px;
    display: grid;
    gap: 2px;
    background-color: var(--mainFour-bg-color);
    margin-bottom: 10px;
}

.leftTips {
    display: grid;
    gap: 2px;
    background-color: var(--mainFour-bg-color);
}

.Wrapper {
    display: flex;
    gap: 10px;
}

.div_wrapper {
    display: grid;
    gap: 2px;
}

.button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    background-color: var(--mainFive-bg-color);
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 200;
    font-size: 25px;
    font-style: normal;
    user-select: none;
    border: none;
    border-radius: 3px;
    color: var(--mainFour-bg-color);
}

.clicked {
    background-color: var(--mainFour-bg-color);
}

.button:hover {
    background-color: var(--mainSix-bg-color);
}

.clicked:hover {
    background-color: var(--mainSeven-bg-color);
}

.won {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--mainSeven-bg-color);
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: var(--mainTwo-bg-color);
    user-select: none;
}

.topTooltipElement {
    width: 20px;
    height: 20px;
    display: flex;
    background-color: var(--mainThree-bg-color);
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: var(--mainFour-bg-color);
    user-select: none;
    justify-content: center;
    align-items: center;
}

.leftTooltipElement {
    width: 20px;
    height: 20px;
    display: flex;
    background-color: var(--mainThree-bg-color);
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: var(--mainFour-bg-color);
    user-select: none;
    justify-content: center;
    align-items: center;
}

.stopwatchWrapper {
    display: flex;
}

.stopwatch {
    background-color: var(--mainThree-bg-color);
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: var(--mainFour-bg-color);
    border-radius: 0 0 10px 10px;
}

.save {
    width: 100px;
    height: 30px;
    background-color: var(--main-bg-color);
}

.continueFromSaving {
    cursor: pointer;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: var(--mainFour-bg-color);
    background-color: var(--mainOne-bg-color);
    user-select: none;
    border-radius: 0 0 10px 0;
    transition: 0.5s;
}

.continueFromSaving:hover {
    background-color: var(--mainThree-bg-color);
}

.color {
    cursor: pointer;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: var(--mainFour-bg-color);
    background-color: var(--mainOne-bg-color);
    border-radius: 10px;
    user-select: none;
    transition: 0.5s;
}

.color:hover {
    background-color: var(--mainThree-bg-color);
}

.clickedColor {
    background-color: var(--mainThree-bg-color);
}

.restart {
    cursor: pointer;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: var(--mainFour-bg-color);
    background-color: var(--mainOne-bg-color);
    border-radius: 0 0 10px 10px;
    user-select: none;
    transition: 0.5s;
}

.restart:hover {
    background-color: var(--mainThree-bg-color);
}

.levels {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.levelsOne {
    display: flex;
    flex-direction: column;
}

.levelsTwo {
    display: flex;
    flex-direction: column;
}

.levelsThree {
    display: flex;
    flex-direction: column;
}

.levelsFiveByFive {
    background-color: var(--mainOne-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
}

.levelsOneFiveByFive {
    cursor: pointer;
    background-color: var(--mainThree-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}

.levelsOneFiveByFive:hover {
    background-color: var(--mainTwo-bg-color);
}

.levelsTwoFiveByFive {
    cursor: pointer;
    background-color: var(--mainThree-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}

.levelsTwoFiveByFive:hover {
    background-color: var(--mainTwo-bg-color);
}

.levelsThreeFiveByFive {
    cursor: pointer;
    background-color: var(--mainThree-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}

.levelsThreeFiveByFive:hover {
    background-color: var(--mainTwo-bg-color);
}

.levelsFourFiveByFive {
    cursor: pointer;
    background-color: var(--mainThree-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}

.levelsFourFiveByFive:hover {
    background-color: var(--mainTwo-bg-color);
}

.levelsFiveFiveByFive {
    cursor: pointer;
    background-color: var(--mainThree-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}

.levelsFiveFiveByFive:hover {
    background-color: var(--mainTwo-bg-color);
}






.levelsTenByTen {
    background-color: var(--mainOne-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
}

.levelsOneTenByTen {
    cursor: pointer;
    background-color: var(--mainThree-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}

.levelsOneTenByTen:hover {
    background-color: var(--mainTwo-bg-color);
}

.levelsTwoTenByTen {
    cursor: pointer;
    background-color: var(--mainThree-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}

.levelsTwoTenByTen:hover {
    background-color: var(--mainTwo-bg-color);
}

.levelsThreeTenByTen {
    cursor: pointer;
    background-color: var(--mainThree-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}

.levelsThreeTenByTen:hover {
    background-color: var(--mainTwo-bg-color);
}

.levelsFourTenByTen {
    cursor: pointer;
    background-color: var(--mainThree-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}

.levelsFourTenByTen:hover {
    background-color: var(--mainTwo-bg-color);
}

.levelsFiveTenByTen {
    cursor: pointer;
    background-color: var(--mainThree-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}

.levelsFiveTenByTen:hover {
    background-color: var(--mainTwo-bg-color);
}



.levelsFifteenByFifteen {
    background-color: var(--mainOne-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
}

.levelsOneFifteenByFifteen {
    cursor: pointer;
    background-color: var(--mainThree-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}

.levelsOneFifteenByFifteen:hover {
    background-color: var(--mainTwo-bg-color);
}

.levelsTwoFifteenByFifteen {
    cursor: pointer;
    background-color: var(--mainThree-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}

.levelsTwoFifteenByFifteen:hover {
    background-color: var(--mainTwo-bg-color);
}

.levelsThreeFifteenByFifteen {
    cursor: pointer;
    background-color: var(--mainThree-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}

.levelsThreeFifteenByFifteen:hover {
    background-color: var(--mainTwo-bg-color);
}

.levelsFourFifteenByFifteen {
    cursor: pointer;
    background-color: var(--mainThree-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}

.levelsFourFifteenByFifteen:hover {
    background-color: var(--mainTwo-bg-color);
}

.levelsFiveFifteenByFifteen {
    cursor: pointer;
    background-color: var(--mainThree-bg-color);
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--mainFour-bg-color);
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}

.levelsFiveFifteenByFifteen:hover {
    background-color: var(--mainTwo-bg-color);
}

.levelsActive {
    background-color: var(--mainTwo-bg-color);
}

@media screen and (max-width: 600px) {
    .header {
        font-size: 15px;
    }

    .topTooltipElement {
        width: 12px;
        height: 12px;
        font-size: 9px;
    }

    .leftTooltipElement {
        width: 12px;
        height: 12px;
        font-size: 9px;
    }

    .button {
        width: 12px;
        height: 12px;
        font-size: 9px;
    }

    .levels {
        justify-content: center;
    }

    .Wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container {
        margin-right: 0;
    }

    .save {
        width: 60px;
        font-size: 15px;
    }

    .continueFromSaving {
        width: 60px;
        font-size: 10px;
    }
}